:root {
  --color-sassy: #ab47bc;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.MuiCard-root {
  border: 1px solid var(--color-sassy);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.MuiCardHeader-root {
  height: 70px;
  border-bottom: 1px solid var(--color-sassy);
}

.MuiCardActions-root {
  border-top: 1px solid var(--color-sassy);
}

.Message {
  position: relative;
  align-items: flex-start !important;
}

.Message::before {
  content: "";
  position: absolute;
}

.Message > * {
  margin: 0 0.5rem !important;
}

.Message > .MuiButtonBase-root {
  padding: 0.1rem 0.5rem;
  border-radius: 0.15rem;
  max-width: 80%;

  /* Prevent the button from growing to the max width. */
  flex-grow: 0;
}

.Message.Message-selected {
  /* Makes the selected/user's message appear on the right. */
  align-items: flex-end !important;
}
